$color-white: white;
$color-black: black;

$color-main-accent: #0D7185;
$color-main-white: #F2F2F2;
$color-main-white-2: #F6F9FD;
$color-main-white-3: #E4E7EB;
$color-light-gray: #9EA0A5;
$color-light-gray-2: #616161;
$color-dark: #212529;
