<sap-public-wrapper>
<div class="sign-in-form">
  <p class="additional-info">Don’t have an account? <a routerLink="sign-up">Sign Up</a></p>

  <h1 class="heading">Sign in to Synapse Internship</h1>
  <p class="subheading">Sign in on our platform</p>

  <form [formGroup]="form">
    <div class="fields">
        <input placeholder="Username" formControlName="username" />
        <input placeholder="Password" formControlName="password" />
    </div>

    <button class="login-button" (click)="login()">Sign In</button>
  </form>

</div>
</sap-public-wrapper>
