@import "src/styles/_constants.scss";

.product-details {
  display: flex;

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 500px;
    background-color: $color-white;
    border-radius: 4px;

    .image {
      width: 300px;
      height: 300px;
      border-radius: 12px;
      object-fit: cover;
      margin-top: 35px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      margin: 38px 0 0;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 17px 0 0;
    }

  }

  .reviews {

    .review-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 700px;
      height: 320px;
      background-color: $color-white;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px rgba(63, 63, 68, 0.15);
      margin-left: 28px;

      h1{
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin: 20px 0 20px 24px;
      }

      .divider {
        width: 100%;
        height: 1px;
        background: $color-main-white-3;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        textarea {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          width: 650px;
          height: 130px;
          resize: none;
          padding-top: 16px;
          padding-left: 16px;
          margin: 17px 16px 0;
          border: 1px solid rgba(0, 0, 0, 0.32);
          box-sizing: border-box;
          border-radius: 4px;
        }

        ngx-star-rating ::ng-deep {
          margin-left: 10px;

          label {
            padding: 2px;
            font-size: 25px;
          }
        }

        button {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          width: 152px;
          height: 40px;
          border-radius: 4px;
          background-color: $color-main-accent;
          color: $color-white;
          border: none;
          padding: 0;
          cursor: pointer;
          outline: inherit;
          margin-left: 19px;
        }

      }

    }

    .reviews-list {
      margin-top: 28px;
      margin-left: 28px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 450px;
    }

  }

}
