@import "src/styles/_constants.scss";

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: $color-main-accent;

  img {
    height: 44px;
    width: 44px;
    margin-left: 24px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-main-white;
    margin-left: 6px;
  }

  button {
    margin-left: auto;
    margin-right: 30px;

    mat-icon {
      color: $color-white;
    }

  }

}
