@import "src/styles/_constants.scss";

.public-wrapper {
  height: 100vh;
  background-color: $color-main-white;

  .public-content {
    height: 640px;
    width: 960px;
    display: flex;
    margin: 0 auto;
    padding-top: 158px;
    border-radius: 4px;

    .left,
    .right {
      width: 50%;
      height: 100%;
    }

    .left {
      background-size: cover;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $color-white;
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px rgba(63, 63, 68, 0.15);
      border-radius: 4px 0 0 4px;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-black;
      border-radius: 0 4px 4px 0;

        .logo {
          margin-top: 137px;
        }
    }
  }
}
